<header class="media">
  <div class="media media-figure">
    <span class="media-figure mini-spider"></span>
    <span class="media-body header-title">{{title}}</span>
  </div>
  <div class="media-body">Twitch status (live, standby)</div>
  {{#if user}}
  <div class="user">
    <span class="welcome">Welcome, {{user.displayName}}!</span>
    <div class="user-menu">
      <img class="user-logo" src="{{user.logo}}" alt="{{user.displayName}}">
      <span class="user-menu-button fa fa-fw fa-2x fa-chevron-down"></span>
      <ul class="user-menu-items">
        <a href="/auth/twitch/logout"><li>Sign out</li></a>
      </ul>
    </div>
  </div>
  {{else}}
  <div class="signin"><a href="/auth/twitch" class="btn-action">Sign in with Twitch</a></div>
  {{/if}}
</header>
