<div class="video-lightbox">
  <i class="fa fa-3x fa-times"></i>
  <div class="video-player"></div>
</div>
<section class="main-content">
  <section class="sub-content">
    <article class="bio"><p>The Bearded Spider is a variety streamer with emphasis on rpg's and indie titles. After a long break from gaming to give attention to family, he's attacking the game world with web and beard to catch up with new and old titles alike! The goal is to reach partnered Twitch streamer with a brood of spiderlings to take over Twitch.</p></article>
    <article class="twitch">
      <h4>Join the Web and watch!</h4>
      <button class="twitch-stream btn-ghost">Watch the Stream</button>
    </article>
  </section>
  <section class="sub-content">
    <article class="social">
      <div class="social-box">
        <div><a href="#"><span class="fa fa-3x fa-youtube"></span></a></div>
        <div><a href="#"><span class="fa fa-3x fa-steam"></span></a></div>
        <div><a href="#"><span class="fa fa-3x fa-twitter"></span></a></div>
        <div><a href="#"><span class="fa fa-3x fa-google-plus"></span></a></div>
        <div><a href="#"><span class="fa fa-3x fa-facebook"></span></a></div>
        <!-- <div><a href="#"><span class="fa fa-"></span></a></div> -->
      </div>
    </article>
    <article class="videos-title">
      <h3>Most Popular Videos</h3>
    </article>
    <section class="videos">
      {{#each videos}}
      <article class="video">
        <img src="{{thumbnail}}" alt="{{title}}">
        <div class="video-overlay" data-video-id="{{videoId}}">
          <div class="video-title"><a href="https://youtu.be/{{videoId}}">{{title}}</a></div>
          <i class="fa fa-fw fa-3x fa-youtube-play"></i>
        </div>
      </article>
      {{/each}}
    </section>
  </section>
</section>
<section class="card-content media-cards">
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem facere minima excepturi voluptas repellat distinctio iure itaque dignissimos qui nobis perferendis impedit aperiam tenetur facilis, eveniet autem, nostrum. A, culpa.</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
</section>

<footer>
  <ul>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
  </ul>
</footer>
